body {
    font-family: "DM Sans", sans-serif;
    color: white;
    font-weight: 100;
    margin: 0;
    background-image: url("https://media.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 470%;
    text-align: center;
    letter-spacing: 12px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

table {
    border-color: rgba(128, 128, 128, 0.499);
    border-collapse: collapse;
    font-size: 2em;
    margin: 0 auto;
    border: none;
}

colgroup, tbody {
    border: solid medium rgba(255, 255, 255, 0.53);
    border-radius: 5%;
}

td {
    border: solid thin rgba(245, 245, 245, 0.138);
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
}

button {
    margin: 1%;
    background: none;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.2s;
}

#solve-button:hover {
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em green;
    transform: translateY(-0.2em);
    cursor: pointer;
}

#clear-button:hover {
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em red;
    transform: translateY(-0.2em);
    cursor: pointer;
}

#mainNavbar {
    background-color: #ff006e;
}

#container {
    margin-top: 80px;
}

#sudokuBoard {
    background-color: black;
    filter: opacity(0.2);
}

#bgimg {
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: blur(0.18rem);
    max-height: 500px;
}

#sudoku-board {
    z-index: 10000;
}